@tailwind base;
@tailwind components;
@tailwind utilities;

.whole {
  background-image: url(/bg.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 100vh;
}

.float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.loginbody {
  /* margin-top: 200px; */
  /* height: 100vh; */

  /* background-size: cover; */
  /* /* background-size: 100%;,  */
  /* background-size: 100vw 100vh; */
}

.loginform {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 10px;
}

html {
  /* background-color: deepskyblue; */
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.Homepage {
  width: 100vw;
  height: 100vh;
}

.forgetpass {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
  margin-right: 165px;
  text-decoration: underline;
  color: lightslategrey;
  /* font-size: 50px; */
}

/* .body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
} */

.form {
  margin-top: 200px;
}

.ant-form-item {
  text-align: left;
}

.ant-form-item-required {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 160px;
}


.modal {
  display: flex;
  width: 150vw;
  height: 70vh;
  margin-left: 0px;
}

.title {
  display: flex;
  margin-top: 10px;
}
.list {
  display: flex;
  margin-top: 20px;
}

